* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Press Start 2P', cursive;
    background-color: #171717;
    color: #fff;
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
  header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 110px;
    padding: 0 20px;
    background-color: #1c1c1c;
  }
  
  
  header h1 {
    font-size: 24px;
    color: #3cb043;
    text-shadow: 2px 2px #000;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-card {
    background-color: #2a2a2a;
    border: 3px solid #5caa3e;
    width: calc(25% - 20px);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .product-card h2 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  
  .product-card p {
    font-size: 10px;
    color: #aaffaa;
  }

  .mine_logo {
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .featured-products {
    display: flex;
    background-image: url("images/mcdo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 585px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  .check {
    height: 40px;
    width: 110px;
    color: #ffffff;
    background-color: #5caa3e;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-left: 20px;
  }

  .head{
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .feet{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .cart-button {
    position: absolute;
    right: 20px;
    height: 40px;
    width: 110px;
    color: #ffffff;
    background-color: #5caa3e;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    
  }

  .logout-button {
   
    right: 20px;
    height: 40px;
    width: 110px;
    color: #ffffff;
    background-color: #ff0000;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    
  }
  
  